.header {
  background-color: $red;
  margin-bottom: 50px;
  .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      &:first-child a {
        span {
          font-size: 17px;
          font-weight: 500;
          position: absolute;
          top: 11.5px;
        }
      }
      i {
        color: white;
        font-size: 30px;
        margin-right: 5px;
      }
      &:nth-child(2) {
        justify-self: center;
        width: 100%;
        form {
          display: flex;
          align-items: center;
          input {
            border-radius: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          button {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline: none;
            width: 50px;
            height: 100%;
            background-color: $black;
          }
          i {
            font-size: 14px;
          }
        }
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
        a {
          color: white;
        }
      }
    }
  }
}
