@keyframes flashAnimation {
  0% {
    transform: translateY(-100px);
  }
  5% {
    transform: translateY(15px);
  }
  90% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.flash-message__container {
  position: fixed;
  top: 0;
  left: 13%;
  width: 70%;
  z-index: 9;
  padding: 20px;
  border-radius: 12px;
  opacity: 0.7;
  text-align: center;
  animation: flashAnimation 2s ease-in-out forwards;
  &.error {
    background-color: #e55039;
  }
  &.success {
    background-color: #78e08f;
  }
  &.info {
    background-color: #f6b93b;
  }
  .flash-message__text {
    color: white;
    font-size: 1.6rem;
  }
}
