.social-login    
    button.social-login--github
        a(href=routes.github)
            i.fab.fa-github
            span 깃허브
    button.social-login--naver
        a(href=routes.naver)
            i.far.fa-star
            span 네이버
    button.social-login--kakao
        a(href=routes.kakao)
            i.fas.fa-comment
            span 카카오
