.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | 깃허브로 계속하기
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            | 카카오로 계속하기
