.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    padding: 0px 5px;
    width: 100%;
    max-width: 650px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(55, 55, 55, 0.8);
    button {
      width: 200px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
    }
    .video__title {
      margin-bottom: 10px;
      font-size: 2.2rem;
      font-weight: 600;
    }
    .video__views {
      margin-bottom: 30px;
      font-size: 1.4rem;
      color: $grey;
    }

    .video__author {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .video__author-avatar {
        margin-right: 10px;
      }
      .video__author-info {
        a {
          font-size: 1.6rem;
          display: block;
          margin-bottom: 10px;
        }
        .video__description {
          margin-bottom: 15px;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
  .video__comment {
    padding: 0px 10px;
    width: 100%;
    max-width: 650px;
    max-height: 30rem;
    margin: 25px 0px;
    overflow-y: auto;
    .video__comment-number {
      font-size: 1.8rem;
    }
    .add__comment {
      display: flex;
      width: 100%;
      input {
        width: 650px;
        max-width: 650px;
        border-radius: 0px;
        border-bottom: 2px solid $black001;
        background-color: transparent;
        transition: all 0.3s linear;
        color: $white;
        &::placeholder {
          color: $grey;
        }
        &:focus {
          border-bottom: 2px solid rgba(0, 0, 0, 0.7);
        }
      }
      button {
        background-color: #cccccc;
        margin-left: 5px;
        width: 90px;
        text-align: center;
        transition: all 0.3s linear;
        &:hover {
          background-color: $sky-blue;
        }
      }
    }
    .video__comments-list {
      width: 100%;
      margin-top: 50px;
      li {
        display: flex;
        align-items: center;
        img {
          margin-right: 15px;
          align-self: flex-start;
        }
        .u-comment {
          width: 100%;
          color: $white;
          border-radius: 20px;
          border-bottom-left-radius: 0px;
          flex-wrap: nowrap;
          .u-comment-id {
            margin-bottom: 5px;
            a {
              width: min-content;
              color: $white;
              font-weight: 500;
              font-size: 1.5rem;
            }
            span {
              margin-left: 5px;
              padding: 3px 5px;
              background-color: $grey;
              border-radius: 5px;
            }
            .u-comment-creator {
              background-color: $sky-blue;
            }
          }
          p {
            width: 100%;
          }
        }
        span:first-child {
          display: inline-block;
          padding: 10px 30px;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          border-bottom-left-radius: 0px;
          margin-right: 5px;
        }
        span:last-child {
          align-self: flex-end;
          font-size: 0.7rem;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      .delComment {
        .delCommentBtn {
          background-color: transparent;
          color: $white;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
